.exec-form {
  width: 600px;


  &-group {
    &-row {

      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      & > label {
        width: 60px;
        display: inline-block;
      }

      &-username,
      &-age,
      &-radio,
      &-city,
      &-introduce {
        width: calc(100% - 80px);
        margin-left: 8px;
        height: 28px;
      }

      &-radio,
      &-checkbox,
      &-hobby {
        display: inline-block;
      }

      &-gender,
      &-checkedHobby {
        position: relative;
        top: 2px;
      }

      &-hobby {
        margin: 0 4px;
      }

      &-checkedHobby {
        margin-right: 8px;
      }

      &-introduce {
        height: 80px;
      }

      &-submit {
        width: 100%;
        height: 40px;
        margin-top: 16px;
      }
    }
  }
}

.result {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 20px;
}
